<div class="view-section">
  <div class="is-heading">
    <h1 class="title is-4">Details</h1>
    <h2 class="subtitle is-6">
      Basic information about the server you're creating.
    </h2>
  </div>

  <div class="columns is-multiline">
    <div class="column is-12">
      <label class="label">Name</label>
      <div class="control">
        <div class="level">
          <div class="level-item">
            {{input type="text" value=instance.name class="input" placeholder="Custom"}}
          </div>
          <div class="spacer" style="margin: 0 10px">-</div>
          <div class="level-item">
            {{input type="text" class="input" value=namePrefix disabled=true}}
          </div>
        </div>
      </div>
      <span class="help"></span>
    </div>
  </div>
</div>

<div class="view-section">
  <div class="is-heading">
    <h1 class="title is-4">Image</h1>
    <h2 class="subtitle is-6">
      You're most likely going to want the Silverstripe image unless you know what you're doing.
    </h2>
  </div>
  <div class="columns is-multiline">
    {{aws-image
      selectedImage=selectedImage
      toggleActiveImage='toggleActiveImage'
      title="Silverstripe"
      description="Dev ready!"
      ami="ami-66996404"
    }}

    {{aws-image
      selectedImage=selectedImage
      toggleActiveImage='toggleActiveImage'
      title="Debian 8.x"
      description="Blank server"
      ami="ami-09daf96a"
    }}

    {{aws-image
      selectedImage=selectedImage
      toggleActiveImage='toggleActiveImage'
      title="Ubuntu 14.04"
      description="Blank server"
      ami="ami-69631053"
    }}

    {{aws-image
      selectedImage=selectedImage
      toggleActiveImage='toggleActiveImage'
      title="Ubuntu 16.04"
      description="Blank server"
      ami="ami-4e686b2d"
    }}

  </div>
</div>

<div class="view-section">
  <div class="is-heading">
    <h1 class="title is-4">Type</h1>
    <h2 class="subtitle is-6">
      The bigger the size, the bigger the cost. For standard development work a small image is generally enough.
    </h2>
  </div>

  <div class="columns is-multiline">
    {{aws-type
      selectedType=selectedType
      toggleActiveType='toggleActiveType'
      title="t2.nano"
      description="vCPU 1 RAM 0.5"
      type="t2.nano"
    }}

    {{aws-type
      selectedType=selectedType
      toggleActiveType='toggleActiveType'
      title="t2.micro"
      description="vCPU 1 RAM 1.0"
      type="t2.micro"
    }}

    {{aws-type
      selectedType=selectedType
      toggleActiveType='toggleActiveType'
      title="t2.small"
      description="vCPU 1 RAM 2.0"
      type="t2.small"
    }}

    {{aws-type
      selectedType=selectedType
      toggleActiveType='toggleActiveType'
      title="t2.medium"
      description="vCPU 2 RAM 4.0"
      type="t2.medium"
    }}
  </div>
</div>

<div class="view-section">
  <div class="is-heading">
    <h1 class="title is-4">Security Groups</h1>
    <h2 class="subtitle is-6">
      Choose wisely...
    </h2>
  </div>

  <div class="columns">
    <div class="column is-6">
      {{#power-select
        placeholder="Select security group"
        options=securityGroups
        searchEnabled=false
        selected=selectedSecurityGroup
        onchange=(action "toggleSecurityGroup") as |securityGroup|}}
        {{securityGroup.groupName}}
      {{/power-select}}
    </div>
  </div>

</div>


<div class="view-section">
  <div class="is-heading">
    <h1 class="title is-4">Flags/Switches</h1>
    <h2 class="subtitle is-6">
      Controls events on how Swordfish manges the server.
    </h2>
  </div>
  <div class="columns is-multiline">
    <div class="column is-12">
      <div class="is-full is-toggle">
        <label class="label">Production server</label>
        {{x-toggle
          value=instance.production
          showLabels=false
          onLabel='Enabled::true'
          offLabel='Disabled::false'
          onToggle=(action (mut instance.production))
        }}
        <span class="help">Production servers are not turned off automatically.</span>
      </div>
    </div>

    <div class="column is-12">
      <div class="is-full is-toggle">
        <label class="label">Static IP</label>
        {{x-toggle
          value=instance.staticIp
          showLabels=false
          onLabel='Enabled::true'
          offLabel='Disabled::false'
          onToggle=(action (mut instance.staticIp))
        }}
        <span class="help">IP address won't change after restart.</span>
      </div>
    </div>
  </div>
</div>

<div class="view-section">
  <button class="button is-primary is-min-width-button" {{action "save"}}>Build</button>
</div>