<div class="section">
  <div class="container">

    <h1 class="title">Settings</h1>

    <div class="notification">
      <strong>Note:</strong> Since this data is sent through to Auth0 for safe keeping, it needs to be loaded back
      through your JWT. This requires reauthorizing with Swordfish.
    </div>


    <div class="view-section">
      <div class="is-heading">
        <h1 class="title is-4">Amazon Details</h1>
        <h2 class="subtitle is-6">
          Required to create/view servers
        </h2>
      </div>

      <form>
        <div class="columns is-multiline">
          <div class="column is-12">
            <label class="label">Access key</label>
            <div class="control">
              <div class="level">
                <div class="level-item">
                  {{input
                    type="text"
                    value=user.awsKey
                    class="input"
                    placeholder="Aws access key"
                    autocomplete="off"
                  }}
                </div>
              </div>
            </div>
          </div>

          <div class="column is-12">
            <label class="label">Access secret</label>
            <div class="control">
              <div class="level">
                <div class="level-item">
                  {{input
                    type="password"
                    value=user.awsSecret
                    class="input"
                    placeholder="Aws secret key"
                    autocomplete="off"
                  }}
                </div>
              </div>
            </div>
          </div>

          <div class="column is-12">
            <label class="label">Default region</label>
            <div class="control">
              <div class="level">
                <div class="level-item">
                  {{input
                    type="text"
                    value=user.awsRegion
                    class="input"
                    placeholder="Aws default region"
                    autocomplete="off"
                  }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>

    </div>

    <div class="view-section">
      <div class="is-heading">
        <h1 class="title is-4">Gitlab</h1>
        <h2 class="subtitle is-6">
          This is only required when using Swordfish specific AMI's, and the Silverstripe API. This will allow Swordfish
          to
          clone projects to your development server on your behalf.
        </h2>
      </div>

      <form>
        <div class="columns is-multiline">
          <div class="column is-12">
            <label class="label">Username</label>
            <div class="control">
              <div class="level">
                <div class="level-item">
                  {{input
                    type="text"
                    value=user.gitlabUsername
                    class="input"
                    placeholder="Gitlab username"
                    autocomplete="off"
                  }}
                </div>
              </div>
            </div>
          </div>

          <div class="column is-12">
            <label class="label">Password</label>
            <div class="control">
              <div class="level">
                <div class="level-item">
                  {{input
                    type="password"
                    value=user.gitlabPassword
                    class="input"
                    placeholder="Gitlab password"
                    autocomplete="off"
                  }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>

    <div class="view-section">
      <div class="is-heading">
        <h1 class="title is-4">Silverstripe API</h1>
        <h2 class="subtitle is-6">
          This is only required if you wish to use database and asset restore features of Swordfish.
        </h2>
      </div>

      <form>
        <div class="columns is-multiline">
          <div class="column is-12">
            <label class="label">Username</label>
            <div class="control">
              <div class="level">
                <div class="level-item">
                  {{input
                    type="text"
                    value=user.silverstripeUsername
                    class="input"
                    placeholder="Silverstripe Username"
                    autocomplete="off"
                  }}
                </div>
              </div>
            </div>
          </div>

          <div class="column is-12">
            <label class="label">Token</label>
            <div class="control">
              <div class="level">
                <div class="level-item">
                  {{input
                    type="password"
                    value=user.silverstripeToken
                    class="input"
                    placeholder="Silverstripe Token"
                    autocomplete="off"
                  }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>

    <button class="button is-primary is-min-width-button" {{action "save" user}}>Save & Reauthorise</button>

  </div>
</div>