<div class="view-section">
  <div class="level">
    <div class="level-left">
      <div class="level-item">
        <div class="resource">
          <div class="resource-title">
            <h1 class="title">{{instance.name}}</h1>
          </div>
          <div class="resource-description">
            {{instance.description}}
          </div>
        </div>
      </div>
    </div>

    <div class="level-right">
      <div class="level-item">

      </div>
    </div>

  </div>
</div>

<div class="view-section">
  <div class="is-heading">
    <h1 class="title is-4">Properties</h1>
    <h2 class="subtitle is-6">
      Detailed information about the instance
    </h2>
  </div>

  <table class="table instance-table">
    <tr>
      <th>Key</th>
      <th>Value</th>
    </tr>
    <tbody>
    {{#if instance.userName}}
      <tr>
        <td>Creator</td>
        <td>{{instance.userName}}</td>
      </tr>
    {{/if}}
    {{#if instance.state}}
      <tr>
        <td>Instance State</td>
        <td>{{instance.state}}</td>
      </tr>
    {{/if}}
    {{#if instance.instanceId}}
      <tr>
        <td>Instance ID</td>
        <td>{{instance.instanceId}}</td>
      </tr>
    {{/if}}
    {{#if instance.instanceType}}
      <tr>
        <td>Instance Type</td>
        <td>{{instance.instanceType}}</td>
      </tr>
    {{/if}}
    {{#if instance.imageId}}
      <tr>
        <td>Image ID</td>
        <td>{{instance.imageId}}</td>
      </tr>
    {{/if}}
    {{#if instance.keyName}}
      <tr>
        <td>Key</td>
        <td>
          <a
            href="https://s3-ap-southeast-2.amazonaws.com/swordfish-keys/silverstripe-base.pem">{{instance.keyName}}</a>
        </td>
      </tr>
    {{/if}}

    {{#if instance.publicIp}}
      <tr>
        <td>Public IP</td>
        <td>{{instance.publicIp}}</td>
      </tr>
    {{/if}}
    {{#if instance.privateIp}}
      <tr>
        <td>Private IP</td>
        <td>{{instance.privateIp}}</td>
      </tr>
    {{/if}}
    {{#if instance.privateDns}}
      <tr>
        <td>Private DNS</td>
        <td>{{instance.privateDns}}</td>
      </tr>
    {{/if}}
    </tbody>
  </table>
</div>

<div class="view-section">
  <div class="is-heading">
    <h1 class="title is-4">Stacks</h1>
    <h2 class="subtitle is-6">
      Install, update, and maintain stacks on this server
    </h2>
  </div>

  <div class="columns is-multiline">
    {{#each stacks as |stack|}}
      {{instance-stack
        restore="restore"
        stackEvent=stackEvent
        stack=stack
        instanceId=instance.instanceId
      }}
    {{/each}}
  </div>
</div>

<div class="view-section">
  <div class="is-heading">
    <h1 class="title is-4">Danger zone</h1>
    <h2 class="subtitle is-6">
      Terminating <strong>{{instance.name}}</strong> is a permanent change that cannot be undone.
    </h2>
  </div>

  <button class="button is-danger is-min-width-button" {{action "triggerInstanceEvent" "terminate"}}>Terminate</button>

</div>
