<div class="view-section">
  <div class="level">
    <div class="level-left">
      <div class="level-item">
        <div class="resource">
          <div class="resource-title">
            <h1 class="title">{{instance.name}}</h1>
          </div>
          <div class="resource-description">
            {{instance.description}}
          </div>
        </div>
      </div>
    </div>

    <div class="level-right">
      <div class="level-item">
        {{x-toggle
          value=state
          showLabels=false
          onLabel='On::start'
          offLabel='Off::stop'
          onToggle=(action "triggerInstanceSwitch")
        }}
      </div>
    </div>

  </div>
</div>

<div class="view-section">
  <div class="is-heading">
    <h1 class="title is-4">Properties</h1>
    <h2 class="subtitle is-6">
      Detailed information about the instance
    </h2>
  </div>

  <table class="table instance-table">
    <tr>
      <th>Key</th>
      <th>Value</th>
    </tr>
    <tbody>
    {{#if instance.userName}}
      <tr>
        <td>Creator</td>
        <td>{{instance.userName}}</td>
      </tr>
    {{/if}}
    {{#if instance.state}}
      <tr>
        <td>Instance State</td>
        <td>{{instance.state}}</td>
      </tr>
    {{/if}}
    {{#if instance.instanceId}}
      <tr>
        <td>Instance ID</td>
        <td>{{instance.instanceId}}</td>
      </tr>
    {{/if}}
    {{#if instance.instanceType}}
      <tr>
        <td>Instance Type</td>
        <td>{{instance.instanceType}}</td>
      </tr>
    {{/if}}
    {{#if instance.imageId}}
      <tr>
        <td>Image ID</td>
        <td>{{instance.imageId}}</td>
      </tr>
    {{/if}}
    {{#if instance.keyName}}
      <tr>
        <td>Key</td>
        <td>
          <a
            href="https://s3-ap-southeast-2.amazonaws.com/swordfish-keys/silverstripe-base.pem">{{instance.keyName}}</a>
        </td>
      </tr>
    {{/if}}

    {{#if instance.publicIp}}
      <tr>
        <td>Public IP</td>
        <td>{{instance.publicIp}}</td>
      </tr>
    {{/if}}
    {{#if instance.privateIp}}
      <tr>
        <td>Private IP</td>
        <td>{{instance.privateIp}}</td>
      </tr>
    {{/if}}
    {{#if instance.privateDns}}
      <tr>
        <td>Private DNS</td>
        <td>{{instance.privateDns}}</td>
      </tr>
    {{/if}}
    </tbody>
  </table>
</div>

{{#if developmentServer}}
  <div class="view-section">
    <div class="is-heading">
      <h1 class="title is-4">Restore</h1>
      <h2 class="subtitle is-6">
        Load database and assets CWP to this server
      </h2>
    </div>

    <div class="columns">
      <div class="column is-6">
        {{#power-select
          placeholder="Select stack"
          options=stacks
          searchEnabled=false
          selected=selectedStack
          onchange=(action "toggleActiveStack") as |stack|}}
          {{stack.name}}
        {{/power-select}}
      </div>
    </div>

    <div class="columns">
      <div class="column is-2">
        {{stack-environment
          selectedEnvironment=selectedEnvironment
          toggleActiveEnvironment='toggleActiveEnvironment'
          title="Production"
          description="Probably this"
          type="prod"
          disabled=disabled
        }}
      </div>

      <div class="column is-2">
        {{stack-environment
          selectedEnvironment=selectedEnvironment
          toggleActiveEnvironment='toggleActiveEnvironment'
          title="UAT"
          description="Probably not this"
          type="uat"
          disabled=disabled
        }}
      </div>
    </div>

    <div class="columns">
      <div class="column is-2">
        {{stack-mode
          selectedMode=selectedMode
          toggleActiveMode='toggleActiveMode'
          title="Database"
          description="Just the database"
          type="db"
          disabled=disabled
        }}
      </div>

      <div class="column is-2">
        {{stack-mode
          selectedMode=selectedMode
          toggleActiveMode='toggleActiveMode'
          title="Assets"
          description="Files and whatnot"
          type="assets"
          disabled=disabled
        }}
      </div>

      <div class="column is-2">
        {{stack-mode
          selectedMode=selectedMode
          toggleActiveMode='toggleActiveMode'
          title="All"
          description="Everything!"
          type="all"
          disabled=disabled
        }}
      </div>
    </div>

    {{#if "restoring"}}
      <button class="button is-primary is-min-width-button" disabled>Building</button>
    {{else}}
      <button class="button is-primary is-min-width-button" {{action "restore"}}>Restore</button>
    {{/if}}


  </div>
{{/if}}

<div class="view-section">
  <div class="is-heading">
    <h1 class="title is-4">Danger zone</h1>
    <h2 class="subtitle is-6">
      Terminating <strong>{{instance.name}}</strong> is a permanent change that can not be undone.
    </h2>
  </div>

  <button class="button is-danger is-min-width-button" {{action "triggerInstanceEvent" "terminate"}}>Terminate</button>

</div>
